<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>购物车</title>
		<link rel="stylesheet" th:href="@{/resources/themes/Bootstrap.css}" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
		<link rel="stylesheet" th:href="@{/resources/themes/jquery.mobile.icons.min.css}" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
		<link rel="stylesheet" th:href="@{/resources/back/css/bootstrap.min14ed.css?v=3.3.6}" />
   		<link rel="stylesheet"  th:href="@{/resources/back/css/font-awesome.min93e3.css}" />
	    <link th:href="@{/resources/back/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
	    
	    <link th:href="@{/resources/back/css/style.css}" rel="stylesheet"/>
	    
	    <link rel="stylesheet"  th:href="@{/resources/back/css/bootstrap-select.min.css}" />
	    <link th:href="@{/resources/back/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
		<link href="https://cdn.bootcss.com/fancybox/3.0.47/jquery.fancybox.css" rel="stylesheet">
	    
	    
	    <script th:src="@{/resources/back/js/jquery.min.js?v=2.1.4}"></script>
	    <script th:src="@{/resources/back/js/bootstrap.min.js?v=3.3.6}"></script>
	   
	    <script th:src="@{/resources/back/js/content.min.js?v=1.0.0}"></script>
	    <script th:src="@{/resources/back/js/plugins/iCheck/icheck.min.js}"></script>
	    <script th:src="@{/resources/back/js/bootstrap-select.min.js}"></script>
	    <!--弹出层插件layer.js cdn version-3.0 -->
		<script src="//cdn.bootcss.com/layer/3.0/layer.js"></script>
		<script>
			function del(obj){
				id =obj.id;
	    		id = id.replace("ID",'');
	    		$.ajax({
					url: '[[@{/weixin/cart/delete.do}]]',
					type: "POST",
					data: {id:id},
					dataType: "json",
					cache: false,
					success: function(data) {
						if(data>0){
							layer.msg("删除成功！",{time: 500 });
							setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒
				                window.location.reload();//页面刷新
				            },1000); 
						}
						else{
							layer.msg("删除失败！",{time: 500 });
						}
					}
				});	
	    		
	    	
	    		
			}
			
			
			
			function paymoney(){
				var userId =$("#userId").val();
				var money = $("#finalMount").val();
				$.ajax({
					url: '[[@{/order/paymoney.do}]]',
					type: "POST",
					data: {userId:userId,money:money},
					dataType: "json",
					cache: false,
					success: function(data) {
						if(data>0){
							layer.msg("下单成功！",{time: 500 });
							setTimeout(function(){  //使用  setTimeout（）方法设定定时2000毫秒
								window.history.back(-1);

				            },1000); 
						}
						else{
							layer.msg("下单失败！",{time: 500 });
						}
					}
				});	
				
			}
			
		
		</script>
	</head>
	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header" data-position="inline">
				<h1>核销系统</h1>
				<input type="hidden" th:value="${userId}" id="userId">
				<div data-role="navbar">
					<ul>
						<li><a th:href="@{/weixin/coupon/list.do?(userId=${userId})}" data-icon="star" >优惠券</a></li>
						<li><a th:href="@{/weixin/product/list.do?(userId=${userId})}" data-icon="star" >商品</a></li>
						<li><a th:href="@{/weixin/cart/list.do?(userId=${userId})}" data-icon="star" class="ui-btn-active">购物车</a></li>
						<li><a th:href="@{/weixin/address/list.do?(userId=${userId})}" data-icon="star" >地址</a></li>
					</ul>
				</div>
			</div>
			<div data-role="content" data-theme="a">
				<h2>我的购物车</h2>
				
		   		<div class="col-sm-12">
	               	<div class="ibox float-e-margins">
	                    <div class="ibox-content">
	              
	                        	<div class="feed-activity-list">
	                        		<!-- 循环开始 --> 
	                                <div class="feed-element" th:each="cartMap : ${cartMaps}">
	                                    <a  class="pull-left">
	                                        <img alt="image" class="img-circle" th:src="${cartMap.productPicture}">
	                                    </a>
	                                    <div class="media-body ">
	                                        <a class="pull-right btn btn-xs btn-white" th:id="${cartMap.id}+'ID'" onclick="del(this)">删除</a>
	                                        <strong th:text="${cartMap.productName}">商品名</strong>
	                                        <br>
	                                        <small class="text-muted"th:text="'价格 ¥: '+${cartMap.productPrice}+' 元'">价格 ¥：</small>
	                                    </div>
	                                </div>
	                                <!-- 循环结束 --> 
	                                <div style="height:90px;width:20px;"></div>
	                            </div>
	                    </div>
	                </div>
           		</div>
				
				
				
			</div>
		
		<div class="footer" style="position: fixed;bottom: 20px; width: 100%;height: 80px;">
            <div class="pull-right">
                <button onclick="paymoney()" type="button" class="btn btn-w-m btn-warning" th:text="'结算¥'+${finalMount}">结算</button>
            	<input type="hidden" th:value="${finalMount}" id="finalMount">
            </div>
            <div>
            	<span>商品</span> <strong th:text="${totalMount}">0</strong>元<br>
            	<span>优惠</span> <strong th:text="${reduceMount}">0</strong>元<br>
                <span>总计</span> <strong th:text="${finalMount}">0</strong>元<br>
            </div>
        </div>
		
		</div>
	</body>
</html>

